[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]
dj-database-url = "*"
django = "*"
gunicorn = "*"
django-heroku = "*"
django-web3-auth = "1.0.3"


[requires]

python_version = "3.6"
