{% extends "layout.html" %}
{% load static %}



{% block pagetitle %} EthChatBot {% endblock %}

{% block pageName %} EthChatBot {% endblock %}

{% block jsLink %}
    <script type="text/javascript" src="{% static 'js/default/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom/index.js' %}"></script>
{% endblock %}

{% block js %}
{% endblock %}

{% block cssLink %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}

{% endblock %}