

<!DOCTYPE html>

{% set baseurl = baseUrl %}

<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{ url_for('static', filename = 'img/logo.png') }}" title="myWallet"  type="image/png" sizes="30x30">
<title>{% block pageTitle %}{% endblock %}</title>
    
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/sweetalert.css') }}">

<base href="{{ baseurl }}"  />
</head>
<body>
    <div id="particles-js" class="div-loading">
        <div id="div-loading-message">
           
            <div id="div-loading-text">
                
                Loading.....
            </div>
        </div>		
    </div><style>.hs{
        margin:0;
        float:right;
        cursor: pointer;
    }</style>
        <div id="div-body">
                <h2 class="h1Header">{% block pageHeader %}{% endblock %}</h2>
            <div id="div-left"><div class="hs">hide/Show</div>
                <div class="menu"> Your Test Network :<br>  https://rinkeby.infura.io/ </div>
                <div class="menu"> <a href="{{ baseurl }}createWallet"> Create/Import Wallet </a> </div>
                <div class="menu"> <a href="{{ baseurl }}myWallet">Check Balance </a></div>
                <div class="menu"> <a href="{{ baseurl }}sendFund">Send ETH </a></div>
                <div class="menu"> <a href="{{ baseurl }}transactionList">Check Transactions </a></div>
                <div class="menu"> <a href="{{ baseurl }}logout" id="logout">LogOut </a></div>
            </div>
            <div id="div-right">
                    
                    
                {% block content %}{% endblock %}

            </div>
        </div>
        <script>
            API = "http://api.jual.vip/API/";

        </script>
                
        
    
       
              <style>
                .tblProcess {
                    margin:0 auto !important;
                }
                .breakh3{
                    text-align:left;color:#fff;
                    font-size:20px;
                    background-color:#32304a;
                    padding:10px;
                }
       
</style>



</body>
{% block jsLink %}{% endblock %}
{% block js %}{% endblock %}
<script>
    $(".hs").click(function(){
        $("#div-left").width("5%");
        $("#div-right").width("95%");
    });
    $("#logout").click(function(e){
        e.preventDefault();
        deleteCookie('cpk');
        deleteCookie('cadr');
        $("#particles-js").show();
        $("#div-loading-text").html("Loggin Out...");
        url = API + "logOut"
        data = {}
        $.post(url,data,function(data,status){
            $("#particles-js").hide();
            $("#div-loading-text").html("Loading...");
            document.location = "./";
        });
    })
    
    function deleteCookie(cname) {
        var d = new Date(); //Create an date object
        d.setTime(d.getTime() - (1000*60*60*24)); //Set the time to the past. 1000 milliseonds = 1 second
        var expires = "expires=" + d.toGMTString(); //Compose the expirartion date
        window.document.cookie = cname+"="+"; "+expires;//Set the cookie with name and the expiration date
        
    }
    function checkCookie() {
        var cpk = getCookie("cpk");
        var cadr = getCookie("cadr");
        if ( cadr != "" && cpk !="" ) {
            return true;
        } else {
            return false;
        }
    }
</script>

</html>